<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/default/default.css">
    <link rel="stylesheet" href="style/register-space/categories/adaptables/subcategories/house-subcategory.css">
</head>

<body>
    <%- include('../../../../partial/header-register-space.ejs'); %>
    
    <div id='box_black'></div>

    <main>
        <section id="adaptables-categories_section" class="container_margin_default">
            <div class="default_margin main__default_margin">

                <nav>
                    <ul class="breadcrumb">
                        <li><a class="hoverU" href="/tipo-de-ambiente">Tipo de ambiente</a></li>
                        <li class="divisor">></li>
                        <a class="hoverU" href="/categorias-espacos-adaptaveis">
                            <li>Categoria do ambiente</li>
                        </a>
                        <li class="divisor">></li>
                        <a href="">
                            <li aria-current="page">Subcategoria do ambiente</li>
                        </a>
                    </ul>
                </nav>

                <div class="middle-div">
                    <h1>Escolha a categoria</h1>
                    <ul class="middle-div__ul">
                        <li class="ul__space-item">
                            <img class="ul__space-photo" src="images/register-space/adaptables/house-category.png" alt="">
                            <span>Casa</span>
                        </li>

                        <li class="ul__space-item">
                            <img class="ul__space-photo" src="images/register-space/adaptables/apartment-category.png" alt="">
                            <span>Apartamento</span>
                        </li>

                        <li class="ul__space-item">
                            <img class="ul__space-photo" src="images/register-space/adaptables/unity-category.png" alt="">
                            <span>Unidade à Parte</span>
                        </li>
                    </ul>
                </div>

                <div class="bottom-div">
                    <a href="">
                        <button class="bottom-div__none">Nenhuma das opções</button>
                    </a>

                    <a id="advance" href="/localizacao">
                        <button id="bottom-div__advance" disabled>Avançar</button>
                    </a>
                </div>

            
            </div>
        </section>
    </main>

    <script src="script/register-space/adaptables-categories/adaptables-categories.js"></script>
    
</body>

</html>