<header id="header" class="container_margin_default">
    <div class="default_margin">
        <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>

        <div class="header-buttons">
            <a href="/central-de-ajuda"><button>Ajuda</button></a>
            <a href="/"><button>Sair</button></a>
        </div>
    </div>
</header>